
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul, li {
	list-style: none;
}